@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&family=Zen+Tokyo+Zoo&display=swap');

*, ::before, ::after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: Roboto, sans-serif;
    background-size: contain;
    background-repeat: repeat-y;
}

h1{
    font-family: 'Zen Tokyo Zoo', sans-serif;
    color: aqua;
    text-decoration: underline;
    padding: 20px;
}

p.intro{
    padding: 30px;
}

ul{
    display: grid;
    grid-template: repeat(5, 1fr) /1fr 1fr;
    list-style: none;
    padding: 10px;
}

li{
    display: flex;
    flex-direction: column;
    margin: 15px;
    padding: 20px;
    background-color: rgb(155, 20, 20);
    opacity: .8;
    flex-wrap: wrap;
    width: 500px;
}

li h3{
    font-family: 'Zen Tokyo Zoo', Ubuntu, sans-serif;
    font-size: 2em;
    color: #09f;
}

li p.poeme-content{
    font-style: italic;
    color: rgba(146, 48, 236, 1);
}

li p.justification{
    margin: 20px;
}

li.img{
    width: 700px;
    height: auto;
    align-self: flex-end;
}

li.img img{
    max-width: 650px;
    max-height: 550px;
    width: auto;
    height: auto;
}

#poem1{
    grid-area: 1/1;
}

#img1{
    grid-area: 1/2;
}